export(abbreviate_clade_labels)
export(add_alignment_column)
export(add_amino_acid_site_column)
export(add_categorical_column)
export(add_cluster_membership_column)
export(add_complete_overlap_groups)
export(add_fimo_column)
export(add_gene_cluster_membership)
export(add_heatmap_column)
export(add_integer_column)
export(add_long_branch_compression_marks)
export(add_meme_column)
export(add_motif_colors)
export(add_motif_counts)
export(add_node_labels)
export(add_node_points)
export(add_ortholog_column)
export(add_pie_charts)
export(add_pointplot_column)
export(add_protein_domain_column)
export(add_scale_bar)
export(add_signal_peptide_column)
export(add_site_state_column)
export(add_symbol_site_column)
export(add_synteny_column)
export(add_text_column)
export(add_tiplabel_column)
export(add_tree_column)
export(append_branch_stats)
export(append_branch_tiplab_colors)
export(attach_neighbor_stats)
export(compress_long_branches_for_display)
export(correct_self_hit_query)
export(enhance_branch_table)
export(extract_alignment_sites)
export(extract_xml_attr)
export(geom_divtime)
export(get_categorical_levels)
export(get_df_N)
export(get_df_clade)
export(get_df_domain)
export(get_df_intron)
export(get_df_polygon)
export(get_df_protein_backbone)
export(get_df_tip)
export(get_df_trait)
export(get_domain_fill_colors)
export(get_label_num)
export(get_line_coordinate)
export(get_long_branch_display_settings)
export(get_rel_widths)
export(get_trait_colors)
export(gg_color_hue)
export(map_trimmed_to_untrimmed_nongap_index)
export(merge_overlap_group)
export(merge_tip_trait)
export(normalize_category_text)
export(overlay_branch_combination)
export(overlay_convergence)
export(parse_optional_numeric)
export(prepare_df_rps_for_plot)
export(propagate_tiplab_colors_to_internal_branches)
export(read_meme_motifs)
export(read_site_state_alignment)
export(reshape_long_base)
export(split_nested_clade)
export(tidy_df_tip)
export(treevis_axis_label)
export(treevis_extract_species_label)
export(treevis_font_size_factor)
export(treevis_ggmsa_letter_palette)
export(treevis_is_hybrid_binomial_connector)
export(treevis_is_hybrid_connector_token)
export(treevis_label_matches_ortholog_prefix)
export(treevis_ortholog_axis_label)
export(treevis_ortholog_prefix_target)
export(treevis_should_wrap_site_axis_label)
export(treevis_site_panel_width)
export(treevis_site_state_palette)
export(treevis_species_prefix_token_count)
export(treevis_strip_ortholog_prefix)
export(treevis_taxonomic_token_key)
export(treevis_text_size)
export(treevis_tidy_msa)
export(treevis_wrap_axis_label)
export(truncate_panel_text)
import(ape, except=rotate)
import(colorspace)
import(ggplot2)
import(ggrepel)
import(ggtree)
import(grid)
import(RColorBrewer)
import(rkftools)
import(scales)
import(rlang)
importFrom(grDevices,colorRampPalette)
importFrom(grDevices,hcl)
importFrom(grDevices,rgb)
importFrom(stats,aggregate)
importFrom(stats,na.omit)
importFrom(stats,setNames)
importFrom(utils,combn)
importFrom(utils,read.table)
importFrom(utils,tail)
importFrom(utils,write.table)
